<!-- <p>
  server started, server Id is {{ serverId }} and Server status is
  {{ serverStatus }}
</p>
<p>The current server status is {{ getServerStatus() }}</p> -->

<div class="container m-5">
  <div class="row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        name="servername"
        id="servername"
        placeholder="Server name"
        (input)="onUpdateServerName($event)"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        name="serverdesc"
        id="serverdesc"
        placeholder="Server Discription"
        [(ngModel)]="serverDiscription"
      />
    </div>
    <div class="col text-center">
      <button class="btn btn-info" [disabled]="!(serverStatus == 'Online')">
        {{ serverStatus }} - {{ serverName }}: {{ serverId }}
      </button>
      <small class="form-text text-muted">{{ serverDiscription }}</small>
    </div>
    <div class="col text-center">
      <button class="btn btn-{{ status }}" (click)="powerButton()">
        {{ serverBtn }} : Server
      </button>
    </div>
  </div>
</div>
