<div class="contatiner">
  <div class="row">
    <div class="col">
      <button class="btn btn-info" (click)="showSecret()">Show Secret</button>
      <p
        *ngIf="display"
        appBetterHighlighter
        [defaultColor]="'transparent'"
        [highlightColor]="'yellow'"
      >
        This is the Secret
      </p>
    </div>
    <div class="col">
      <p
        *ngFor="let log of logs; let i = index"
        [ngStyle]="{ backgroundColor: i > 4 ? 'dodgerblue' : 'white' }"
        [ngClass]="{ 'text-light': i > 4 }"
      >
        Button clicked at {{ log }}
      </p>
    </div>
  </div>
</div>
